body{background-color:yellow;}
h1 {font-size:x-large;



    background-color:red;


    text-decoration:underline;


display:flex;
justify-content:center;
align-items:center;
}

h3 {font-size:large;
    background-color:gray;

text-decoration: underline;}


img{width:246px;}
.btn-wsp{
position: fixed;
width: 55px;
height: 55px;
line-height: 55px;
bottom: 30px;
right: 30px;
background-color: green;
color: white;
border-radius: 50px;
text-align: center;
font-size: 30px;
box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
z-index: 100;


}